# Ignore node_modules as they are installed inside the Docker container
node_modules

# Ignore Next.js build output (it will be recreated during the build)
.next

# Ignore Bun's dependency lock file cache
bun.lockb.cache

# Ignore local environment files
.env
.env.local
.env.*.local
Makefile


# Ignore editor and IDE settings
.vscode
.idea

# Ignore log files
npm-debug.log
yarn-debug.log
yarn-error.log
*.log

# Ignore system files
.DS_Store
Thumbs.db

# Ignore temporary files
*.tmp
*.swp
*.swo
